<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="My Profiles"></Label>
</ActionBar>
<TabView selectedIndex="0">
    <StackLayout *tabItem="{title: 'Personal Profile'}">
        <Label text="&#xf0c0;" class="page-icon fa"></Label>
        <ScrollView>
            <Label [text]="content" textWrap="true" class="m-15"></Label>
        </ScrollView>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Work Profile'}">
        <Image #barcodeImg id="barcode-img" class="text-center"></Image>
        <Button (tap)="generateBarCode()" id="barcode" class="btn btn-primary btn-active" text="GENERATE BARCODE"></Button>
    </StackLayout>
</TabView>