<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="My Information"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
        <StackLayout>
            <Label text="First name"></Label>
            <TextField hint="John" [(ngModel)]="firstname"></TextField>
            <Label text="Last Name"></Label>
            <TextField hint="Doe" [(ngModel)]="lastname"></TextField>
            <Label text="Email"> </Label>
            <TextField hint="john.doe@example.com" keyboardType="email" [(ngModel)]="emailID"></TextField>
            <Label text="Contact Number"> </Label>
            <TextField hint="915-8010-485" keyboardType="phone" [(ngModel)]="phone_number"></TextField>
            <Label text="LinkedIn Profile"> </Label>
            <TextField hint="Enter url" keyboardType="url" [(ngModel)]="LinkedIn"></TextField>
            <Button text="save" class="btn btn-primary btn-active" (tap)="save()"></Button>
            <Button text="show" class="btn btn-primary btn-active" (tap)="show()"></Button>
        </StackLayout>
    </ScrollView>
</GridLayout>