.ng-valid[required] {
    border-left-color: rgb(33, 230, 43); 
    border-left-width: 3;
}
.ng-invalid {
    border-left-color: #e9221f; 
    border-left-width: 3;
}
.validation {
    color: #ffffff;
}
.fab-button {
    height: 70;
    position: absolute;
    margin: 15;
    background-color : #3627ff; 
    horizontal-align : right; 
    vertical-align: bottom; 
}

