<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="My Information"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
            <StackLayout>
            <Label text= " name"  ></Label>
            <TextField hint ="john"   ></TextField>
            <Label text="last  name "></Label>
            <TextField hint ="Doe"   ></TextField>
            <Label text="Email" > </Label>
            <TextField hint ="native script sucks " ></TextField>
            <Button  text="save" (tap)="save()" ></Button>
            <Button  text="show" (tap)="show()" ></Button>

            </StackLayout>


    </ScrollView>
</GridLayout>